<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>hellow from ejs</h1>
    <form action="/create" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="profile">enrollment number :</label>
        <input type="number" id="profile" name="enrollNumber" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>